/* Estilos para el botón del menú */
#menu-btn {
    background-color: #FF85AB;
    color: #000000;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }