.section-title {
    text-align: center;

    h2 {
        font-family: $font-secondary;
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 1.5rem; 
    }
}

h3{
    font-family: $font-secondary;
}